<div class="page">
    <!-- основной блок -->
    <div class="main-block">
        <div class="container">
            <h1 class="main-h1">Создание категории расходов</h1>
            <div class="field">
                <div class="field-input mw-397">
                    <input id="input-category-title" type="text" class="form-control " placeholder="Название...">
                </div>
                <div class="field-buttons mt-20">
                    <button class="btn btn-success me-10" id="create-category-button">Создать</button>
                    <button class="btn btn-danger" id="cancel-button">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>