<div class="page">
    <!-- основной блок -->
    <div class="main-block">
        <div class="container">
            <h1 class="main-h1">Расходы</h1>
            <div class="expenses-grid" id="expenses-grid">

                <div class="card add-card" id="add-card">
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6445 5.57812V8.54492H0V5.57812H13.6445ZM8.42188 0V14.4922H5.23633V0H8.42188Z"
                              fill="#CED4DA"/>
                    </svg>
                </div>

            </div>
        </div>
    </div>


    <div class="expenses-popup" id="expenses-popup">
        <div class="popup-box">
            <div class="popup-text">Вы действительно хотите удалить категорию?</div>
            <div class="popup-buttons">
                <button class="popup-button btn btn-success me-12" id="popup-confirm-delete">Да, удалить</button>
                <button class="popup-button btn btn-danger" id="popup-cancel-delete">Не удалять</button>
            </div>
        </div>
    </div>
</div>