<div class="page">
    <!-- основной блок -->
    <div class="main-block">
        <div class="container">
            <h1 class="main-h1">Редактирование дохода/расхода</h1>
            <div class="field">
                <div class="field-input mw-397">
                    <select id="input-type" class="form-control mb-10 outline-none">
                        <option value="income">Доход</option>
                        <option value="expense">Расход</option>
                    </select>
                    <select id="input-category" class="form-control mb-10 outline-none"></select>
                    <input type="text" id="input-amount" class="form-control mb-10 outline-none" placeholder="Сумма в $...">
                    <input type="date" id="input-date" class="form-control mb-10 outline-none">
                    <input type="text" id="input-comment" class="form-control mb-20 outline-none" placeholder="Комментарий...">
                </div>
                <div class="field-buttons mt-20">
                    <button id="create-button" class="btn btn-success me-10">Сохранить</button>
                    <button id="cancel-button" class="btn btn-danger">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>